<%= form_with model: @job, local: true do |f|  %>
  <% if @job.errors.any? %>
    <div id="explain_error">
      <h2> Uh oh! <%= pluralize(@job.errors.count, "error") %> prohibited this post from being saved: </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<div class="form-group">
  <%= f.label :name %>:
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>:
  <%= f.text_area :description %>
  <br>
  <%= f.label :cost %>:
  <%= f.text_field :cost %>
  <br>
  <%= f.label :capacity %>:
  <%= f.text_field :capacity %>
</div>

<%= f.submit%>

<% end %>
