<div class="container">
  <h1>Job Invoice</h1>
  <h2><%= @job.name %></h2>
  <ul>
    <li>Description: <%= @job.description %></li>
    <li>Total Estimated Cost: $<%= @job.cost %></li>
    <li>Gross Tonnage: <%= @job.capacity %> pounds</li>
    <li>Port of Origin: <%= @job.origin %></li>
    <li>Destination: <%= @job.destination %></li>
    <li>
    Assigned Boats: <% @job.boats.each do |a| %>
         <%= a.name %>,
      <% end %>
    </li>

  </ul>
  <%= button_to "Back to Dashboard", root_path, method: :get, class: "btn btn-outline-info" %>
  <br>
  <%= button_to "Edit Job Details", edit_job_path(@job), method: :get, class: "btn btn-light", data: { confirm: 'Are you sure you want to make changes to this job?'} %>
  </div>
</div>
