<h1>Welcome To Our Database</h1>
<div><%= render 'boats/index' %></div>
<div><%= render 'jobs/index' %></div>

<br><br>

<%= form_with model: @boat, local: true do |f|  %>
<%= f.select :boat_ids, options_from_collection_for_select(Boat.all, 'id', 'name') %>
<% end %>

<br><br>

<%= button_to 'LOG OUT', destroy_user_session_path, method: :delete %>
