<h1>Locations</h1>

<li><%= Philadelphia %></li>
<li><%= New York City %></li>
<li><%= Boston %></li>
<li><%= Houston %></li>
<li><%= New Orleans %></li>
<li><%= Miami %></li>
<li><%= Los Angeles %></li>
<li><%= San Francisco %></li>
<li><%= Seattle %></li>
<li><%= Norfolk %></li>
<li><%= Portland %></li>
