  <%= form_with model: @boat, local: true do |f|  %>
    <% if @boat.errors.any? %>
      <div id="explain_error">
        <h2> Uh oh! <%= pluralize(@boat.errors.count, "error") %> prohibited this post from being saved: </h2>
        <ul>
          <% @boat.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>:
    <%= f.text_field :name %>
    <br>
    <%= f.label :containers %>:
    <%= f.text_field :containers %>
    <br>
    <%= f.label :location %>:
    <%= f.text_field :location %>
    <br>

  </div>

  <%= f.submit%>

  <% end %>
