<div class="container">
  <h1>Boat Dossier</h1>
  <h2><%= @boat.name %></h2>

  <ul>
    <li>Total Capacity Available:
      <%= @boat.containers %>
      pounds</li>
    <li>Port of Origin:
      <%= @boat.location %></li>
  </ul>


<%= button_to "Back to Fleet", root_path, method: :get, class: "btn btn-outline-info" %>
<br>
<%= button_to "Delete Boat", boat_path(@boat), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to remove this boat from the fleet?'} %>
</div>
