<h1>New Shipment</h1>

<%= form_with model: @shipment, local: true do |f| %>
<%= f.label :job_id %>
<%= f.select :job_id, options_from_collection_for_select(Job.all, 'id', 'name') %>
<br>
<%= f.label :origin %>:
<%= f.text_field :origin %>
<br>
<%= f.label :destination %>:
<%= f.text_field :destination %>
<br>
<%= f.label :delivery %>:
<%= f.text_field :delivery %>
<br>
<%= f.label :boat_ids %>
<%= f.select :boat_id, options_from_collection_for_select(Boat.all, 'id', 'name') %>
<br>
<%= f.submit%>
<% end %>
